<div class="container">

  <div class="search-holder">
    Shuma në Trust:
    <input [(ngModel)]="sumInTrust">
    <button (click)="calculate()">Kalkulo</button><br />
  </div>

  <ng-container *ngIf="peopleBelowYou > 0">
    <p>
      Je më i pasur se {{peopleBelowYou | number}} njerëz<br />
      Je më i pasur se {{percentage | number: '1.2-2'}}% e njerëzve
    </p>  
  </ng-container>

  <br />
  <img src="assets/121366008_3649479568453839_8356114315715293097_n.jpg" width="100%" />
</div>

<router-outlet></router-outlet>